@media(min-width: 83.1875rem){

    .toggle-button{
        display: none;
    }

    .main-header > div a.main-header__brand{
        display: inline-block;
    }

    .main-header__brand img{
        height: 2.3rem;
    }

    .signup-form {
        padding: 1rem;
        width: 35%;
        margin: auto;
    }

    .nav-link__container {
        display: inline-block;
        width: 45%;
      }

    .footer{
        font-size: 1rem;
    }

    .footer-main{
        padding: 45px 100px;
    }

    .footer .glossy-button{
        margin-left: 0;
        font-size: 1rem;
    }

    .button-license__container{
        width: 40%;
        text-align: center;
        margin: 0;
    }

    .button-license__container h5{ font-size: 1rem;}

    .nav-link__list a{
        font-size: 1.5rem;
      }
      

}