@media( min-width: 18.75rem){


    .main-header{
      height: 4.3rem;
    }
  
    .main-header .main-nav{
      display: none;
    }
  
    .toggle-button{
      display: none;
    }
  
    .toggle-button__bar{
      margin: 0.3rem 0;
    }
  
    .main-header > div {
      padding-left: 1.25rem;
      width: 100%;
    }
  
  
    .glossy-button {
      background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
    }
  
    .main-header > div h6{
      display: inline-block;
      font-size: 1.25rem;
      color: rgb(22, 75, 77);
      vertical-align: middle;
      margin-left: 6.875rem;
    }
  
    .main-header > div a.main-header__brand{
      display: inline-block;
      height: inherit;
    }
   
  
    .main-header__brand img {
      height: 2.3rem;
    }
  
     .nav-link{
       margin-right: 0;
     } 


     /* SignUp Class*/
     .signup-page{
        padding: 1rem;
        padding-top: 6rem;
        background-color: rgb(253, 244, 244);
     }

     .signup-title{
       text-align: center;
       font-size: 1.5rem;
       color: cadetblue;
     }

     .signup-form{
       padding: 1rem;

     }

     .signup-form label{
      font-weight: bold;
     }

     .signup-form label,
     .signup-form select,
     .signup-form input{
         display: block;
         margin-top: 1.1rem;
         width: 95%;
     }


     /* Different Methods to select the checkbox */
     /* .signup-form input[type="checkbox"]{ */
     .signup-form input[id*="terms"]{/*Selecting checkbox using id.*/
        display: inline-block;
        width: 1rem;
     }

     .signup-form input[id*="terms"] + label{ 
      display: inline-block;
      width: 15rem;
      font-weight: 500;
      vertical-align: top;
      margin-left: 5px;
    }

    .signup-form input[id*="terms"] + label a{
      display: inline-block;
      margin-left: 5px;
    }


    .signup-form input:not([type="checkbox"]),
    .signup-form select{
      border: 1px solid #ccc;
      padding: 0.2rem 0.5rem;
      font: inherit;
    }

    .signup-form input:focus,
    .signup-form select:focus{
      outline: none;
      border: 1px solid cadetblue;
      background-color: rgb(191, 225, 226);
    }

    .signup-form input[type="checkbox"]{
      border: 1px solid cadetblue;
      background-color: white;
      width: 1rem;
      height: 1rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }

    .signup-form input[type="checkbox"]:checked{
      background: cadetblue;
      border: cadetblue;
    }

    .signup-form button[type="submit"]{
      display: block;
      margin-top: 1.1rem;
    }

     /* Footer */
     .logo{
        margin-bottom: 25px;
      }
    
      .footer{
        margin-bottom: 25px;
        width: 100%;
        font-size: 1rem;
      }
    
      .footer .glossy-button{
        margin: 0;
      }
    
      .footer h5{
        text-align: center;
      }
    
      .mobile-nav__item:last-child a {
        color: #626d70;
        font-size: 1.5rem;
        padding: 1rem;
        margin-left: 5px;
      }
    
      .mobile-nav__items{
        padding: 0.5rem;
        height: 92vh;
      }
    
      .footer-main{
        padding-bottom: 0.2rem;
      }

}  