@media(min-width:28.75rem) and (min-height:43.75rem){

    .nav-link__container{
        width: 49%;
    }

    .button-license__container{
        width: 48%;
        text-align: center;
    }

    .footer .glossy-button{
        margin-right: 0;
    }

    .button-license__container h5{
        margin-right: 0;
    }

}