*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
  /* position: static; */
}

.backdrop{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

/* Header */
.main-header{
  background: #ffffff;
  width: 100%;
  height: 4.9rem;
  padding: 20px 10px;
  position: fixed;
  z-index: 2;
}

.main-header > div{
  display: inline-block;
  vertical-align: middle;
  padding-left: 11.875rem;
} 

.main-header > div a{
  text-decoration: none;
  color: #758184;
  font-size: 1rem;
  vertical-align: middle;
  text-align: right;
}

.main-header__brand img{
  height: 3rem;
}

.main-header div{
  vertical-align: top;
}

.main-nav{
  display: inline-block;
  width: 100%;
  width: calc(100% - 250px);
  text-align: right;
  vertical-align: middle;
}

.main-nav__items{
  padding-right: 90px;
}

.main-nav__item{
  display: inline-block;
  padding: 0 10px;
}

.main-nav__item a,
.mobile-nav__item a{
  text-decoration: none;
  color: #758184;
} 

.main-nav__item:hover,
.main-nav__item:focus{
  border-bottom: 4px solid cadetblue;
  padding-bottom: 30px;
} 

/* Toggle Button */
.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%) );
  display: block;
  margin: 0.6rem 0;
}

.glossy-button{
  display: inline-block;
  margin-left: 20px;
  background: linear-gradient(to right, rgb(111, 240, 240), hsl(191, 85%, 51%));
  padding: 10px 30px;
  font-weight: bolder;
  border-radius: 50px;  
  letter-spacing: 0.8px;
  word-spacing: 1.5px;
  border: none;
  outline: none;
  color: #133444;
}

.glossy-button:hover,
.mobile-nav__item--cta:hover{
  background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
  color: #fff;
}

.glossy-button:active{
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0 , 0.5);
}

/* Footer */
.footer-main{
  width: 100%;
  padding: 45px;
  background-color: cadetblue;
}

.footer{
  width: 30%;
}

.social-media__container,
.nav-link__container,
.button-license__container{
  display: inline-block;
}

.logo h1{
  color: rgb(45, 84, 85);
}

.social-media__icon{
  display: inline-block;
  margin: 0 5px;
}

.social-media__icon i{
  color: #fff;
}

.social-media__icon i:hover,
.social-media__icon i:hover{
  color: rgb(236, 204, 204);
}

.nav-link{
  margin-right: 50px;
}

.nav-link__container .nav-link{
  display: inline-block;
}

.nav-link__list{
  display: block;
  padding: 8px;
}

.nav-link__list a:hover,
.nav-link__list a:active{
  color: rgb(153, 227, 229);
}

.nav-link__list a{
  text-decoration: none;
  color: #fff;
}

.button-license__container{
  text-align: right;
  vertical-align: top;
}

.footer button{
  background: rgb(4, 94, 97);
  color: #fff;
}

.footer button:hover{
  background: #fff;
  color: #0e3f1f;
}


.footer h5{
  padding-top: 30px;
  color: rgb(153, 227, 229);
}

.footer h5:hover{
  color: #fff;
}


/* Mobile Navgation */
.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 92vh;
  list-style: none;
  margin: 10% auto;
  padding: 0.5rem;
  text-align: center;
  background: rgb(195, 221, 221);
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
  color: #626d70;
}

.open{
  display: block !important;
}
