
#product-overview{
  background: linear-gradient(to bottom, rgba(199, 179, 179, 0.5) 100%, transparent) ,url('./images/background-image.jpg') left 0% bottom 35%/cover no-repeat ;
  width: 100%;
  height: 88vh;
  position: relative;
  top: 4.375rem;
}

#product-overview h1{
  color: #fff;
  font-family: 'anton-regular', sans-serif;
  font-style: italic;
  padding: 6.25rem 3.125rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.2rem;
  text-shadow: 1px 1px 6px black;
  /* font-size: 1.6rem; */
}

#plans > div {
  text-align: center;
}

.section-title{
  color: #0e3f1f;
  text-align: center;
  padding: 6.06350rem 0rem 1.875rem;
  font-size: 1.35rem;
}

.section-title__features{
  color: #0e3f1f;
  text-align: center;
  padding: 5rem 0rem;
}

.plan{
  background: #c4e3cb;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

.plan h1, h2, h3{
  margin: 0.9375rem 0rem;
}

.plan--highlighted{
  background: #6a9c78;
  color: #fff; 
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0 , 0.5);
}

.plan--highlighted .plan__price{
  color: #0e4f1f;
}

.plan--highlighted .plan__title{
  color: #fff;
} 

.plan__annotation{
  background: #fff;
  color: #6a9c78;
  padding: 0.5rem;
  box-shadow: inherit;
  border-radius: 0.5rem;
}

.plan__title{
  color: #0e3f1f;
  font-weight: bolder;
}

.plan__price{
  color: #858585;
}

.plan__features{
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan__features li{
  margin: 10px 0;
  font-weight: bolder;
  color: #0e4f1f;
}

.button{
  background: #6a9c78;;
  color: #0e4f1f;
  font-family: inherit;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 0.625rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.625rem;
}

.recommended__plan-button{
  background: #0e4f1f;
  color: #fff;
  font-family: inherit;
  font-weight: bold;
  outline: none;
  border: none;
  padding: 0.625rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.625rem;
}

.button:hover{
  background: #0e4f1f;
  color: #fff;
}

.button:active{
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0 , 0.5);
}

.recommended__plan-button:hover{
  background: #fff;
  color: #0e4f1f;
}

.recommended__plan-button:active{
box-shadow: 2px 2px 2px 2px rgba(0, 0, 0 , 0.5);
}

#key-features{
  background: #f0efef;
  margin-top: 5rem;
  padding: 1rem 0px 5.625rem;
}

#key-features .section-title{
  margin: 2rem;
}

.key-feature__list{
  text-align: center;
}

.key-feature{
  display: inline-block;
  width: 30%;
  list-style: none;
  vertical-align: top;
}

.key-feature__description{
  text-align: center;
  font-weight: bold;
  color: #0e4f1f;
  font-size: 1.25rem;
}

.key-feature__image{
  background: linear-gradient(to right bottom, rgb(92, 228, 92), rgb(69, 246, 246));
  height: 7.8125rem;
  width: 7.8125rem;
  border-radius: 50%;
  margin: 1.25rem auto;
  padding: 1.625rem;
}

/* Articles */
.articles{
  background: #f9f6f7;
  padding-bottom: 3.75rem;
}

.articles h1{
  padding: 4.375rem 1.875rem 2.5rem;
  text-align: center;
  color: #0e4f1f;
}

.article{
  display: inline-block;
  width: 24%;
  padding: 0.9375rem;
  vertical-align: top;
}

.article:hover{
  box-shadow: 2px 2px 2.5px 2.5px rgba(0, 0, 0 , 0.5);
  border-radius: 4px;
}


.article-list{
  text-align: center;
} 

.article-img-1{
  background-image: url('./images/domain.jpg');
}
.article-img-2{
  background-image: url('./images/build-website.jpg');
}
.article-img-3{
  background-image: url('./images/seo.jpg');
}
.article-img-4{
  background-image: url('./images/plan.jpg');
} 


 .style__article-img{
  width: 100%;
  height: 12.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 6px 6px 0px 0px;
 }

 .article-description{
   background: #fff;
   text-align: left;
   border-radius: 0 0 6px 6px;
 }

 .article-description h5{
  padding: 1.25rem 1.25rem 0rem;
  color: #525252;
}

.article-description h6{
  padding: 1.875rem 1.25rem 0rem;
  color: #8d8888;
}

.article-description p{
  padding: 1.25rem;
  font-size: 0.75rem;
  color: #615b5b;
}

.article-description p:hover, h5:hover, h6:hover{
  color: green;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
} 

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}
