@media(min-width: 64rem){

  .main-header > div h6{
    margin-left: 45rem;
  }

  .package{
    width: 65%;
  }

  .package h1{
    font-size: 3rem;
  }

  .package h2, h3{
    font-size: 2rem;
  }

  .package p{
    font-size: 1.5rem;
    padding: 5%;
  }

  .package h3{
    font-size: 1.5rem;
    left: 25rem;
    top: 5.5rem;
  }


  .footer-main{
    padding-bottom: 45px;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }

  
}