@media( min-width: 18.75rem){


  .main-header{
    height: 4.3rem;
  }

  .main-header .main-nav{
    display: none;
  }

  .toggle-button{
    width: 2rem;
  }

  .toggle-button__bar{
    margin: 0.3rem 0;
  }

  .main-header > div {
    padding-left: 1.25rem;
    width: 100%;
  }


  .glossy-button {
    background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
  }

  .main-header > div h6{
    display: inline-block;
    font-size: 1.25rem;
    color: rgb(22, 75, 77);
    vertical-align: middle;
    margin-left: 6.875rem;
  }

  .main-header > div a.main-header__brand{
    display: none;
  }
 
  .main-header__brand img {
    height: 3rem;
  }

   .nav-link{
     margin-right: 0;
   } 


   .package p{
    font-size: 1.2rem;
  }

  .package h1{
    font-size: 1.6rem;
  }

  .package h2{
    font-size: 1.4rem;
  }
  
  .package h2{
    margin-top: 0.5rem;
  }
  
  .package h3{
    top: 4.5rem;
    left: 8rem;
    font-weight: bold;
  }

  .packages-container section:first-of-type{
    top: 1.4rem;
  }

  .logo{
    margin-bottom: 25px;
  }

  .footer{
    margin-bottom: 25px;
    width: 100%;
    font-size: 1rem;
  }

  .footer .glossy-button{
    margin-right: 42px;
    padding: 0.9375rem 1.875rem;
  }

  .footer h5{
    text-align: center;
  }

  .mobile-nav__item:last-child a {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 5px;
  }

  .mobile-nav__items{
    padding: 0.5rem;
    height: 92vh;
  }

  .footer-main{
    padding-bottom: 0.2rem;
  }

}

