/* 375px and greater */
@media(min-width: 23.4375rem){
  .package-description__background{
    height: 31.2rem;
  }

  main .about-heading{
    padding-left: 4.6rem;
  }

  .main-header > div h6{
    margin-left: 8rem;
  }
  
  .package p{
    font-size: 1.49rem;
  }

  .package h1, h2{
    font-size: 1.9rem;
  }
  
  .package h2{
    margin-top: 0.5rem;
  }
  
  .package h3{
    top: 5rem;
    left: 7rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .package button {
    margin-left: 1rem;
  }

  .package:nth-child(2) .package-description-right button{
    margin-left: 1.4rem;
  }

  .package-image__style{
    width: 85%;
  }

  .package-description-left, .package-description-right {
    width: 85%;
  }

  .package:nth-child(2) .package-description-right button{
    margin-left: 1.9rem;
  }

  .package:nth-child(3) .package-description-left button {
    margin-right: 1.2rem;
  }

  .package-description-left p, .package-description-right p{
    font-size: 1.2rem;
  }

  .footer .glossy-button{
    margin-right: 4.875rem;
  }

  .button-license__container{
    margin-bottom: 0rem;
    margin-left: 0.4rem;
  }

  .button-license__container h5{
    margin: 2rem 2rem 2rem 0rem;
    padding-top: 0rem;
  }

  .footer h5{
    margin: 0rem 1rem 2rem 0rem;
    padding-top: 30px;
  }
}


@media(min-width: 23.4375rem) and (min-height: 50.75rem){

  .package h1{
    font-size: 2rem;
  }

  .package:first-child h2,
  .package h2{
    font-size: 1.8rem;
  }

}

