@media(min-width:25.875rem) {
  .button-license__container h5{
    margin: 2rem 1.2rem 2rem 0rem;
    padding-top: 0rem;
  }

  .package h2{
    font-size: 2.07rem;
  }

  .package p {
    font-size: 1.7rem;
  }
}