@media(min-width:31.25rem){
    
    .main-header > div h6{
        margin-left: 17rem;
    }

    .nav-link__container{
        width: 49%;
    }

    .button-license__container{
        width: 48%;
        text-align: center;
        vertical-align: bottom;
    }

    .nav-link__list a{
        font-size: 0.8rem;
    }

    .footer .glossy-button{
        margin-right: 0;
    }

    .button-license__container h5{
        margin-right: 0;
    }

    .packages-container section:first-of-type{overflow: hidden;} 

    .package h3{
        transform: rotate(45deg) translateX(1rem) translateY(-5rem);
        width: 16rem;
        text-align: center;
        font-size: 0.8rem;
    }
}
