@media(min-width: 83.1875rem){
#product-overview{
  height: 70vh;
}

#product-overview h1{
  top: 24rem;
  font-size: 2.5rem;
}

.main-nav{
  width: 60%;
  text-align: right;
}

.main-nav__item {
  font-size: 1.1rem;
  vertical-align: baseline;
}

.main-header > div {
  width: 30%;
}

.main-header h1{
  display: inline-block;
  font-size: 1.1rem;
  margin-left: 2.6rem;
  color: cadetblue;
}

.section-title{
  font-size: 2.3rem;
}

.glossy-button{
  background: linear-gradient(to right, rgb(111, 240, 240), hsl(191, 61%, 37%));
  color: #fff;
}

.glossy-button:hover{
  background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
  color: #fff;
}

.key-feature{
  width: 30%;
}

.article {
  width: 20%;
}

.modal{
  width: 30%;
  left: 35%;
}

.button-license__container{
  width: 40%;
  text-align: center;
  line-height: 4rem;
  vertical-align: super;
}

.button-license__container h5{
  text-align: center;
  margin: 0;
}

}