@media(min-width: 83.1875rem){
#product-overview{
  height: 70vh;
}

#product-overview h1{
  top: 26rem;
}

.main-nav{
  width: 60%;
  text-align: right;
}

.main-header > div {
  width: 30%;
}
.main-header h1{
  display: inline-block;
  font-size: 1rem;
  margin-left: 2.6rem;
  color: cadetblue;
}

.section-title{
  font-size: 2.3rem;
}

.glossy-button{
  display: inline-block;
  margin-left: 20px;
  background: linear-gradient(to right, rgb(111, 240, 240), hsl(191, 85%, 51%));
  padding: 10px 30px;
  font-weight: bolder;
  border-radius: 50px;  
  letter-spacing: 0.8px;
  word-spacing: 1.5px;
  border: none;
  outline: none;
  color: #133444;
}

.glossy-button:hover,
.mobile-nav__item--cta:hover{
  background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
  color: #fff;
}

.key-feature{
  width: 30%;
}

.article {
  width: 20%;
}

.modal{
  width: 30%;
  left: 35%;
}

.footer .glossy-button {
  margin-right: 14.6rem;
}

}