@media(min-width:25.875rem) {

  #product-overview{
    height: 70vh;
  }

  #product-overview h1{
    top: 26rem;
  }

  .button-license__container h5{
    height: 5rem;
    padding-top: 1rem;
    margin: 2rem 1.2rem 2rem 0rem;
  }

}