@media(min-width:31.25rem){

    .main-header > div a.glossy-button{
        margin-left:18rem;
    }

    main > svg{
        display: none;
    }

    .section-title {
        padding-top: 7rem;
    }

    .nav-link__list a{
        font-size: 0.8rem;
    }

    .nav-link__container{
        width: 50%;
    }

    .nav-link__container .nav-link:last-child{ margin-left: 0.25rem;}

    .button-license__container{
        width: 45%;
        vertical-align: super;
    }

    .footer{
        font-size: 0.9rem;
    }

}