@media(min-width:34.875rem){

    .main-header > div a.glossy-button{
        margin-left:20rem;
    }

    main > svg{
        display: none;
    }

    .section-title {
        padding-top: 7rem;
    }

}