@media(min-width: 48rem){

  .toggle-button{
    display: none;
  }

  .main-header > div{
    width: 20%;
    vertical-align: top;
  }

  .main-header > div a.main-header__brand{
    display: inline-block;
  }

  .main-header__brand img{
    height: 2.5rem;
  }

  .main-header > div a.glossy-button{
    display: none;
  }

  .main-nav{
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: top;
    text-align: center;
  }
  
  .main-nav__items{
    padding-right: 0;
  }

  .main-nav__item{
    font-size: 1.1rem;
  }

  .glossy-button{
    color: #fff;
  }

  main > svg{
    display: none;
  }

  .key-feature {
    width: 35%;
  }

  #product-overview{
    height: 70vh;
  }

  #product-overview h1{
    top: 25rem;
    font-size: 2.3rem;
  }

  .section-title{
    margin-top: 5.625rem;
    padding-top: 2rem;
  }

  .plan{
    width: 30%;
  }

  #key-features{
    width: 100%;
    left: 0;
  }

  .articles{
    width: 100%;
    margin: 0;
  }

  .article{
    display: inline-block;
    width: 45%;
  }

  .style__article-img,
  .article-description{
    width: 100%;
  }

  .logo h1{
    font-size: 2.5rem;
  }

  .button-license__container{
    display: inline-block;
    width: 40%;
  }

  .button-license__container h5{
    margin-top: 1.25rem;
    margin-right: 0rem;
    font-size: 1.2rem;
    height: 3rem;
    width: 300px;
  }

  .nav-link__list a{
    font-size: 1.5rem;
  }

  .nav-link__container{
    display: inline-block;
    width: 55%;
  }

  .footer .glossy-button{
    width: 230px;
    font-size: 1.3rem;
  }
}

@media(min-width:48rem) and (min-height:64rem){

  #product-overview{
    height: 55vh;
  }

  #product-overview h1{
    top: 30rem;
    font-size: 2.3rem;
  }

}