@media(min-width:54.5rem), (min-width:49rem){

    .main-nav{
        width: 75%;
    }

    #product-overview{
        height: 70vh;
      }
    
      #product-overview h1{
        top: 25rem;
        font-size: 2.3rem;
      }
}