@media(min-width:60.5625rem){

    .main-nav{
        display: inline-block;
        width: 75%;
        vertical-align: top;
        text-align: center;
      } 
      
      #product-overview{
        height: 70vh;
      }
    
      #product-overview h1{
        top: 25rem;
        font-size: 2.3rem;
      }
}