/* Customers Section */
.background{
  background-color: #f4f4f4;
}

.dotted-border{
  border-bottom: 8px dotted rgb(153, 226, 228);
  width: 20%;
  margin-left: 38%;
}

.testimonial{
  width: 100%;
  height: 100%;
  padding-top: 8.9rem;
  text-align: center;
  font-size: 1.2rem;
}

.testimonial__image-container{
  display: inline-block;
  width: 50%;
}

.testimonial__image-container:hover{
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.testimonial__image{
  width: 100%;
  vertical-align: middle;
  min-width: 374px;
}

.testimonial__info{
  display: inline-block;
  width: 35%;
  vertical-align: top;
  text-align: left;
  padding: 20px 0px 0px 40px;
  min-width: 333px;
}

.testimonial__info h1,h2,p{
  padding: 0.65rem;
}

.testimonial:last-child{
  padding-bottom: 6.3rem;
  padding-top: 7rem;
}

.testimonial:last-child .testimonial__info{
  padding: 1.25rem 0rem;
  margin-right: 1.565rem;
}

.testimonial__name {
    margin: 0.2rem;
    color: #0e3f1f;
    font-size: 2.5rem;
  }
  
  .testimonial__subtitle {
    margin: 0;
    color: cadetblue;
    font-size: 1.1rem;
  }
  
  .testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
  }
  
  .testimonial__subtitle a:hover,
  .testimonial__subtitle a:active {
    color: #7a7a7a;
  }
  
  .testimonial__text {
    margin: 0.2rem;
  }
  

/* Mobile Navgation */
/* .mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: rgb(255, 255, 255);
  width: 80%;
  height: 100vh;
} */

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}


/* CSS MEDIA QUERIES */
@media( min-width: 18.75rem){

  .testimonial:last-child{
    padding: 60px 0px;
  }

  .testimonial__image-container,
  .testimonial__info{
    width: 100%;
    display: inline-block;
    padding: 20px;
  }

  .testimonial__image,
  .testimonial__info {
    width: 100%;
    display: inline-block;
    min-width: 0px;
}

  .testimonial:last-child .testimonial__info{
    padding: 20px;
    margin: 0px;
  }

  .logo{
    margin-bottom: 25px;
  }

  .footer{
    margin-bottom: 25px;
  }

  .footer .glossy-button{
    margin-right: 42px;
  }

  .footer h5{
    text-align: center;
  }


}

