@media(min-width: 64rem){

  .toggle-button{
    display: none;
  }

  .main-header > div{
    display: inline-block;
    width: 20%;
  }

  .main-header > div{
    width: 100%;
  }

  .main-header > div h6{
    margin-left: 38rem;
    display: inline-block;
  }

  .main-header__brand img{
    height: 2.9rem;
  }
  
  main .about-heading{
    color: cadetblue;
    padding: 1rem 0rem 0rem 8.125rem;
    width: 60%;
    margin: 6.25rem auto 0rem;
    font-size: 2.2rem;
  }

  .package-description__background{
    width: 100%;
    height: 20rem;
    background: linear-gradient(to top, rgba(211, 206, 206, 0.5) 100%, transparent), url('/images/packages-background.jpg') right 40% top 10%/cover no-repeat;
    background-size: cover;
    background-position: right 40% top 10%;
    background-repeat: no-repeat;
    position: relative;
    top: 85px;
  }
  
  
  .package span{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.13rem;
    font-weight: bolder;
    display: inline-block;
    padding-top: 9.4rem;
  }
  
  .package span:hover{
    text-shadow: 2px 2px 4px black ;
  }
  
  .package__image-container-1{
    background:  url('/images/email-domain.jpg');
  }
  .package__image-container-2{
    background:   url('/images/web-design.jpg');
    left: 2.1rem;
  }
  .package__image-container-3{
    background:   url('/images/business.jpg');
  }
  
  .package-image__style{
    width: 46%;
    height: 24rem;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .package-description-left,
  .package-description-right{
    width: 46%;
    height: 21rem;
    display: inline-block;
    vertical-align: top;
    padding: 0rem 0rem 0rem 2.5rem ;
    text-align: left;
  }
  
  .package-description-right{
    margin-top: 0;
    margin-left: 27.650rem;
  }
  
  .package-description-left h6,
  .package-description-right h6{
    font-size: 1.2rem;
    padding: 0.625rem 0rem;
  }
  
  .package-description-left h1,
  .package-description-right h1{
    width: 90%;
    font-weight: bolder;
    font-size: 1.9rem;
    padding-bottom: 1.4rem;
  
  }
  
  .package-description-left p,
  .package-description-right p{
    width: 100%;
    height: 3.13rem;
    font-size: 1.5rem;
    padding-bottom: 5rem;
    vertical-align: top;
  }
  
  .package button {
    margin-top : 7rem;
    margin-left: 0rem;
    vertical-align: bottom;
    padding: 0.7rem 3.75rem;
    background: white;
    border: 2px solid black;
    outline: none;
    font-size: 1.1rem;
    font-weight: bolder;
  }

  .package:nth-child(2),
  .package:nth-child(3){
    padding-bottom: 3.2rem;
  }
      
  .package:nth-child(2) .package-description-right button{
    margin-left: 0rem;
    margin-top: 3rem;
  }
  
  .package:nth-child(3) .package-description-left button{
    margin: 2.5rem 0rem 0rem;
  }

  .main-nav__item a, .mobile-nav__item a{
    font-size: 1.5rem;
  }

  .main-nav__item:active{
  border-bottom: 4px solid cadetblue;
  padding-bottom: 30px; 
  } 
  
  .social-media__container{
    width: 50%;
  }

  .nav-link__container{
    display: inline-block;
    width: 50%;
  }

  .button-license__container{
    display: inline-block;
    width: 45%;
  }

  .nav-link__list a{
    font-size: 1.5rem;
  }

    /* Footer */
    .logo h1{
      font-size: 2.5rem;
    }
  
    .button-license__container h5{
      margin: 2rem 1.2rem 0rem 0rem;
      font-size: 1.3rem;
      height: 3rem;
    }
  
    .nav-link__list a{
      font-size: 1.5rem;
    }
  
    .footer .glossy-button{
      position: relative;
      bottom: 10px;
      font-size: 1.2rem;
      margin-right: 4.2rem;
    }
  
  
}