@media(min-width: 83.1875rem){

  .main-header > div h6{
    margin-left: 60rem;
  }

  .footer .glossy-button {
    margin-right: 11rem;
  }

  .package-description__background {
    height: 72vh;
    top: 4.6rem;
  }

  main .about-heading{
    padding-left: 0;
  }

}