@media(min-width: 83.1875rem){

  .main-header > div h6{
    margin-left: 70rem;
  }

  .footer .glossy-button {
    margin-right: 18.5rem;
  }

  .package-description__background {
    height: 32rem;
    top: 4.6rem;
  }

  main .about-heading{
    padding-left: 16rem;
  }

  .package:nth-child(2) .package__image-container-2{
    left: 3.3rem;
  }

  .package-description-right{
    margin-left: 42rem;
  }
  
}