@media(min-width: 22.5rem){
    
    .package-description__background{
      height: 31rem;
      top: 4.3rem;
    }

    .package-image__style{
      width: 85%;
      height: 15rem;
  
    }

    main .about-heading{
      padding-left: 4.07rem;
    }
    
    .footer .glossy-button{
      margin-right: 3.7rem;
      padding: 0.9375rem 1.875rem;
    }

    .package button{
      margin-top: 9rem;
      margin-left: 0.6rem;
      font-size: 1rem;
      padding: 1.25rem 3.3rem;
    }
    
    .package:nth-child(2) .package-description-right button{
      margin-left: 0.6rem;
    }
    
    .package:nth-child(3) .package-description-left button{
      margin-top: 5.5rem;
      margin-right: 0.3rem;
      margin-left: 0.6rem;
    }

    .package-description-left p, .package-description-right p {
      font-size: 1.15rem;
    }

    .package:nth-child(2) .package__image-container-2{
      left: 1.7rem;
    }

    .footer-main{
      padding-bottom: 0.2rem;
    }
  
}