/* 375px and greater */
@media(min-width: 23.4375rem) and (min-height: 41.6875rem){

  .package-description__background{
    height: 32.7rem;
  }

  main .about-heading{
    padding-left: 4.6rem;
  }

  .main-header > div h6{
    margin-left: 10rem;
  }

  .package button {
    margin-left: 0.5rem;
  }

  .package:nth-child(2) .package-description-right button{
    margin-left: 1.4rem;
  }

  .package-image__style{
    width: 85%;
  }

  .package-description-left, .package-description-right {
    width: 85%;
  }

  .package:nth-child(2) .package-description-right button{
    margin-left: 0.5rem;
  }

  .package:nth-child(3) .package-description-left button {
    margin-right: 1.2rem;
    margin-left: 0.7rem;
  }

  .package-description-left p, .package-description-right p{
    font-size: 1.2rem;
  }

  .footer .glossy-button{
    margin-right: 4.875rem;
  }

  .button-license__container{
    margin-bottom: 0rem;
    margin-left: 0.4rem;
  }

  .button-license__container h5{
    margin-right: 2rem;
  }

  .footer h5{
    margin: 0rem 1rem 2rem 0rem;
  }
}

/* Iphone X */
@media(min-width: 23.4375rem) and (min-height: 50.75rem){

  .package-description__background{
    height: 40rem;
  }

  .button-license__container h5{
    margin: 2rem 1rem 2rem 0rem;
    padding-top: 0rem;
  }  

}