@media(min-width: 25.6875rem){

  .main-header > div h6{
    margin-left: 13rem;
  }

  .package-image__style{
    height: 14rem;
  }

  .package-description__background{
    height: 36.6rem;
  }

  main .about-heading {
    padding-left: 5.8rem;
  }


  .package__image-container-2{
    left: 2rem;
  }

  .package-description-right{
    margin-top: 14rem;
  }

  .package-description-left h6,
  .package-description-right h6{
    font-size: 1.3rem;
  }

  .package-description-left p, 
  .package-description-right p{
    font-size: 1.2rem;
  } 

  .package span {
    font-size: 2.2rem;
    padding-top: 6rem;
    font-weight: bolder;
 }

  .package button{
    margin-left: 0.8rem;
  }

  .package:nth-child(2) .package-description-right button{
    margin-left: 0.7rem;
  }

  .package:nth-child(3) .package-description-left button{
    margin-left: 0.8rem;
  }

  .footer .glossy-button{
    margin-right: 5.9rem;
  }
}