@media(min-width:31.25rem){

    .main-header > div a.glossy-button{
        margin-left:15rem;
    }

    main > svg{
        display: none;
    }

    .section-title {
        padding-top: 7rem;
    }

    .nav-link__container{
        width: 50%;
    }

    .button-license__container{
        width: 45%;
        text-align: center;
    }

    .nav-link__list a{
        font-size: 0.8rem;
    }

    .footer .glossy-button{
        margin-right: 0;
    }

    .button-license__container h5{
        margin-right: 0;
    }

}