@media(min-width:32.5rem){

    .main-header > div h6{
        margin-left: 20rem;
    }

    .main-header > div a.glossy-button{
        margin-left:15rem;
    }

    main > svg{
        display: none;
    }

    .section-title {
        padding-top: 7rem;
    }

    .nav-link__container{
        width: 50%;
    }

    .button-license__container{
        width: 45%;
        text-align: center;
    }

    .nav-link__list a{
        font-size: 0.8rem;
    }

    .footer .glossy-button{
        margin-right: 0;
    }

    .button-license__container h5{
        margin-right: 0;
    }

    .package:nth-child(2) .package__image-container-2{
        left: 2.5rem;
    }


}