@media(min-width: 48rem){
  
  .toggle-button{
    display: none;
  }

  .main-header{
    height: 4.6rem;
  }

  .main-header > div a.main-header__brand{
    display: inline-block;
    margin-left: 3rem;
  }

  .main-header__brand img{
    height: 2.5rem;
    vertical-align: top;

  }
  
  .main-header > div h6{
    margin-left: 33rem;
  }


  .packages-container{
    width: 100%;
    text-decoration: none;
    color: #0e310e;
    padding: 0rem 1.9rem 2.2rem;
    background-color: #fff;

  }
  
  .package{
    width: 100%;
    margin: 1.5rem 0rem;
    text-align: center;
  }
  
  main .about-heading{
    color: cadetblue;
    padding: 1.9rem 0 0 0;
    width: 60%;
    margin: 6.6rem auto 0rem;
    font-size: 2.2rem;
  }

  .package-description__background{
    width: 100%;
    height: 20rem;
    top: 85px;
  }
  
  
  .package span{
    color: #ffffff;
    font-family: 'montserrat-regular', sans-serif;
    font-size: 2.4rem;
    font-weight: bolder;
    display: inline-block;
    padding-top: 9.4rem;
  }
  
  .package span:hover{
    text-shadow: 2px 2px 4px black ;
  }
  
  .package__image-container-2{
    left: 0.75rem;
  }
  
  .package-image__style{
    width: 50%;
    height: 24rem;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .package-description-left{
    width: 46%;
    height: 21rem;
    display: inline-block;
    vertical-align: top;
    padding: 0rem 0rem 0rem 2.5rem ;
    text-align: left;
  }
  
 
  .package-description-left h6{
    font-size: 1.2rem;
    padding: 0.625rem 0rem;
  }
  
  .package-description-left h1{
    width: 90%;
    font-weight: bolder;
    font-size: 1.9rem;
    padding-bottom: 1.4rem;
  
  }
  
  .package-description-left p{
    width: 100%;
    height: 3.13rem;
    font-size: 1.3rem;
    padding-bottom: 5rem;
    vertical-align: top;
  }
  
  .package button {
    margin-top : 7rem;
    margin-left: 0rem;
    vertical-align: bottom;
    padding: 0.7rem 3.75rem;
    background: white;
    border: 2px solid black;
    outline: none;
    font-size: 1.1rem;
    font-weight: bolder;
  }

  .package:nth-child(2),
  .package:nth-child(3){
    padding-bottom: 3.2rem;
  }
      
  .package:nth-child(2) button{
    margin-left: 0rem;
    margin-top: 3rem;
  }
  
  .package:nth-child(3) button{
    margin: 2.5rem 0rem 0rem;
  }

  .main-nav__item a, .mobile-nav__item a{
    font-size: 1.20rem;
  }

  .main-nav__item{
    vertical-align: middle;
  }

  .main-header__brand img{
    height: 2.9rem;
  }

  .main-nav__item:active{
  border-bottom: 4px solid cadetblue;
  padding-bottom: 30px; 
  } 
  
  .logo h1{
    font-size: 2.5rem;
  }

  
  .button-license__container{
    display: inline-block;
    width: 40%;
    vertical-align: super;
  }

  .button-license__container h5{
    font-size: 1.2rem;
  }

  .nav-link__list a{
    font-size: 1.5rem;
  }

  .nav-link__container{
    display: inline-block;
    width: 55%;
  }

  .footer .glossy-button{
    font-size: 1.3rem;
  }
}