/* About Section */
.package-description__background{
  width: 100%;
  height: 25rem;
  background: linear-gradient(to top, rgba(211, 206, 206, 0.5) 100%, transparent), url('../images/packages-background.jpg') right 40% top 10%/cover no-repeat;
  background-size: cover;
  background-position: right 40% top 10%;
  background-repeat: no-repeat;
  position: relative;
  top: 85px;
}

main .about-heading{
  color: cadetblue;
  padding: 1.9rem 0rem 0rem 1.9rem;
  width: 30%;
  margin: 6.6rem auto 0rem;
  text-align: center;
}

.packages-container{
  width: 100%;
  text-decoration: none;
  color: #0e310e;
  padding: 0rem 1.9rem 2.2rem;
}

.package{
  width: 100%;
  margin: 8.75rem 0rem;
  text-align: center;
}

.package span{
  color: #ffffff;
  font-family: 'montserrat-bold', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  display: inline-block;
  padding-top: 9.4rem;
  text-shadow: 2px 2px 5px black;
}

.package span:hover{
  text-shadow: 2px 2px 4px black ;
}

.package__image-container-1{
  background:  url('../images/email-domain.jpg');
}
.package__image-container-2{
  background:   url('../images/web-design.jpg');
}
.package__image-container-3{
  background:   url('../images/business.jpg');
}

.package-image__style{
  width: 45%;
  height: 25rem;
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.package-description-left{
width: 45%;
height: 25rem;
display: inline-block;
vertical-align: top;
padding: 1.9rem 0px 2.5rem 6.3rem;
text-align: left;
}

.package-description-right{
  width: 50%;
  height: 25rem;
  display: inline-block;
  vertical-align: top;

  padding: 1.9rem 4.4rem 2.5rem 1.875rem;
  text-align: left; 
}

.package-description-left h6,
.package-description-right h6{
  font-size: 0.95rem;
  padding: 0.625rem 0rem;
}

.package-description-left h1,
.package-description-right h1{
  width: 90%;
  font-weight: bolder;
  font-size: 2.5rem;
  padding-bottom: 1.57rem;

}

.package-description-left p,
.package-description-right p{
  width: 100%;
  height: 3.13rem;
  font-size: 1.07rem;
  padding-bottom: 5rem;
  vertical-align: top;
}

.package button {
  margin-top : 2.5rem;
  vertical-align: bottom;
  padding: 1.25rem 3.75rem;
  background: white;
  border: 2px solid black;
  outline: none;
  font-size: 0.94rem;
  font-weight: bolder;
}



