@media(min-width: 64rem){
  .main-header > div h6{
    margin-left: 38rem;
  }

  .testimonial{
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

  .testimonial:last-child{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .testimonial__image{
    width: 90%;
    height: 100%;
  }

  .footer-main{
    padding-bottom: 45px;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }

  .footer .glossy-button{
    margin-right: 3.125rem;
    margin-left: 2.5rem;
  }

}
