@media( min-width: 18.75rem){

  .main-header{
    height: 4.3rem;
  }

  .main-header .main-nav{
    display: none;
  }

  .main-header > div a.main-header__brand{
    display: none;
  }

  .main-header > div h6{
    display: inline-block;
    font-size: 1.25rem;
    color: rgb(22, 75, 77);
    vertical-align: middle;
    margin-left: 8rem;
  }

  .toggle-button{
    width: 2rem;
  }

  .toggle-button__bar{
    margin: 0.3rem 0;
  }

  .testimonial {
    padding-top: 5.9rem;
  }

  .testimonial:last-child{
    padding: 0.625rem;
  }

  .testimonial__name{
    font-size: 2rem;
  }

  .testimonial__info{
    padding-top: 0;
  }

  .testimonial__info h1,h2, p{
    padding-left: 0;
  }

  .main-header > div {
    padding-left: 1.25rem;
    width: 100%;
  }

  .main-header > div a{
   margin-left: 1rem;
  }
 
  .main-header__brand img {
    height: 3rem;
  }

   .nav-link{
     margin-right: 0;
   } 

  .logo{
    margin-bottom: 25px;
  }

  .footer{
    margin-bottom: 25px;
    width: 100%;
    font-size: 1rem;
  }

  .footer h5{
    text-align: center;
  }

  .footer .glossy-button{
    margin:0;
    padding: 0.9375rem 1.875rem;
  }

  .mobile-nav__items{
    padding: 0.5rem;
    height: 92vh;
  }

  .mobile-nav__item:last-child a {
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    margin-left: 5px;
  }

  .glossy-button {
    background: linear-gradient(to right, rgb(83, 161, 161), hsl(191, 95%, 24%));
  }

  .footer-main{
    padding-bottom: 0.2rem;
  }

  .button-license__container{
    text-align: center;
    line-height: 3rem;
  }
  

  .button-license__container h5{
    margin:0;
    padding-top: 0rem;
  }

}

