  /* 360px  */
  @media(min-width: 22.5rem){
    
    .main-header > div h6{
      margin-left: 10rem;
    }

    .testimonial__name{
      font-size: 2.5rem;
    }

    .footer-main{
      padding-bottom: 0.2rem;
    }
}
    