@media(min-width: 23.4375rem) and (min-height: 41.6875rem){

  .main-header > div h6{
    margin-left: 10rem;
  }

  .dotted-border{
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  .testimonial__name{
    font-size: 2.8rem;
  }

}


/* Iphone X */
@media(min-width: 23.4375rem) and (min-height: 50.75rem){

  .testimonial__image{
    height: 15rem;
  }

  .testimonial__subtitle{
    font-size: 1.3rem;
  }

  .testimonial{
    font-size: 1.5rem;
  }
}