@media(min-width: 23.4375rem){

  .main-header > div h6{
    margin-left: 8rem;
  }

  .dotted-border{
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  .testimonial__name{
    font-size: 2.8rem;
  }

  .footer .glossy-button{
    margin-right: 4.875rem;
  }

  .button-license__container{
    margin-bottom: 0rem;
    margin-left: 0.4rem;
  }

  .button-license__container h5{
    margin: 2rem 1rem 2rem 0rem;
    padding-top: 0rem;
  }
}