@media(min-width: 23.4375rem) and (min-height: 41.6875rem){

  .main-header > div h6{
    margin-left: 8rem;
  }

  .dotted-border{
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  .testimonial__name{
    font-size: 2.8rem;
  }

  .footer .glossy-button{
    margin-right: 4.875rem;
  }

  .button-license__container{
    margin-bottom: 0rem;
    margin-left: 0.4rem;
  }

  .button-license__container h5{
    margin: 2rem 1rem 2rem 0rem;
    padding-top: 0rem;
  }
}


/* Iphone X */
@media(min-width: 23.4375rem) and (min-height: 50.75rem){

  .testimonial__image{
    height: 15rem;
  }

  .testimonial__subtitle{
    font-size: 1.3rem;
  }

  .testimonial{
    font-size: 1.5rem;
  }
}