@media( min-width: 25.6875rem){
  
  .main-header > div h6{
    margin-left: 11rem;
  }

  .testimonial__image{
    height: 16.5625rem;
  }

  .testimonial__name{
    font-size: 3rem;
  }

  .testimonial__subtitle{
    font-size: 1.4rem;
  }

  .testimonial__text{
    font-size: 1.3rem;
  }

  .button-license__container {
    text-align: center;
    line-height: 4rem;
  }

  .button-license__container h5 {
    margin: 0;
    padding-top: 0rem;
}

}
