@media(min-width:31.25rem){

    .nav-link__container{
        width: 49%;
    }

    .button-license__container{
        width: 48%;
        text-align: center;
        line-height: 2.5rem;
    }

    .button-license__container h5{ font-size: 0.8rem;}

    .nav-link__list a{
        font-size: 0.9rem;
    }

    .footer{
        font-size:0.8rem;
        vertical-align:middle;
    }

    .footer-main{
        padding: 45px 20px;
    }

}
