@media(min-width: 48rem){
  
  /* Header */
  .toggle-button{
    display: none;
  }

  .main-header{
    height: 4.6rem;
  }

  .main-header > div a.main-header__brand{
    display: inline-block;
    margin-left: 3rem;
  }

  .main-header__brand img{
    height: 2.5rem;
    vertical-align: top;

  }
  
  .main-header > div h6{
    margin-left: 25rem;
  }

  /* Content */
  .testimonial__image-container{
    display: inline-block;
    width: 50%;
  }

  .testimonial__info{
    display: inline-block;
    width: 35%;
    vertical-align: top;
    text-align: left;
    padding: 0px 20px 0px 20px;
    min-width: 333px;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .testimonial__info h1{
    font-size: 2.2rem;
  }

  .dotted-border {
    padding-top: 3rem;
  }

  .testimonial:last-child{
    padding-bottom: 2rem;
  }

  /* Footer */

  .footer-main{
    padding:45px;
  }

  .logo h1{
    font-size: 2.5rem;
  }

  .button-license__container{
    display: inline-block;
    width: 45%;
    text-align: center;
    line-height: 4rem;
    vertical-align: bottom;
  }

  .button-license__container h5{
    margin:0;
    font-size: 1.2rem;
    height: 3rem;
  }

  .nav-link__list a{
    font-size: 1.5rem;
  }

  .nav-link__container{
    display: inline-block;
    width: 50%;
  }

  .footer .glossy-button{
    width: 230px;
    font-size: 1.3rem;
    margin:0;
  }

  


}